body{
  overflow-x: hidden;
  overflow-y: scroll;
}
.list{
  height: 50px;
  width: 150%;
  background-color: antiquewhite;
  padding-top: 20px;
}
.list a{
  color: black;
  text-decoration: none;
  padding: 60px;
}
.hotel{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: aliceblue;
}
.hotel .content{
  margin-left: 20%;
  margin-top: 10%;
}
.hotel button{
  border-radius: 30px;
  background-color: yellow;
  border: none;
  padding: 10px 20px;

}
.hotel .chicken{
  margin-left: 20%;
}
.hotel .chicken img{
  width: 300px;
  height: 60vh;
}
.info p{
text-align: center;
}
.info h2{
  text-align: center; 
}
.food{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.food button{
  border-radius: 20px;
  background-color: yellow;
  color: black;
  padding: 20px;
  border: none;
}
.icon{
  color: yellow;
}
.food{
  display: grid;
  grid-template-columns: repeat(4,1f);
}
.food img{
  height: 40vh;
  width: 60%;
  border-radius: 40%;
}
.offer{
  display: grid;
  margin-top: 10%;
}
.offer .offer1{
  margin-left: 20%;
  margin-top: 30%;
}
.offer button{
  border-radius: 20px;
  background-color: yellow;
  border: none;
  padding: 20px 20px;

}
.offer img{
  height: 40vh;
  width: 30%;
  margin-left:40%;
  margin-bottom: 30%;
  border-radius: 40%;
}
.starve{
  display: grid;

}
.starve .starve1{
  text-align: center;
}
.offers{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.offers img{
  height: 60vh;
  width: 80%;
  border-radius: 40%;
  margin-left: 10%;
}
.service{
  text-align: center;
}
.logos{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.logos img{
  height: 60vh;
  width: 80%;
  border-radius: 40%;
  margin-left: 10%;
}
.clients{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.clients img{
  height: 20vh;
  width: 30%;
  border-radius: 50%;
  margin-left: 10%;
}
.best5{
  text-align: center;
}
.items{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.items .items1{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 6%;
  background-color: aquamarine;
  margin-left: 20%;
  margin-right: 20%;
}
.items button{
  border-radius: 30px;
  background-color: yellow;
  border: none;
  padding: 10px 20px;
}
.items img{
  margin-top: 10%;
  margin-bottom: 6%;
  /* margin-left: 40%; */
  margin-right: 40%;
  height: 60vh;
  width: 90%;
}
.news{
  text-align: center;
  margin-top: 10%;
}
.news button{
  border-radius: 30px;
  background-color: yellow;
  border: none;
  padding: 10px 20px;
}
 
.information{
  background-color: black;
  display: flex;
  list-style: none;
}
.information{
 display: flex;
  background-color: black;
}  

.information ul li{
  display:grid;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 5%;
  background-color: black;

}
.LIST1{
display: block;
list-style: none;
display: grid;
}
.LIST2{
display: block;
}
.LIST3{
display: block;
}
.LIST4{
display: block;
}


